<a href="https://colab.research.google.com/github/sttmy/Today-I-Learned/blob/main/30316)_7_Pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas dataFrame

In [1]:
import pandas as pd

In [3]:
# 열이름을 key, 리스트를 value로 갖는 dictionary (2차원 array)

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [4]:
# 리스트에 행 인덱스 열이름 지정해 데이터프레임 만들기
df = pd.DataFrame([[15, 'M','Sinchon'],[17, 'F','Yonsei']], 
                  index = ['James','Mary'],columns = ['age','sex','school'] )
df

       age sex   school
James   15   M  Sinchon
Mary    17   F   Yonsei

In [5]:
print(df.index)  # index name
print(df.columns)  # col name

Index(['James', 'Mary'], dtype='object')
Index(['age', 'sex', 'school'], dtype='object')

In [6]:
df.columns = ['나이','M/F','소속']   # column명 바꿔줌
df

       나이 M/F       소속
James  15   M  Sinchon
Mary   17   F   Yonsei

In [7]:
df.index = ['Student1', 'Student2']   #index명 바꿔줌
df

          나이 M/F       소속
Student1  15   M  Sinchon
Student2  17   F   Yonsei